version: '3'
services:
    php:
        # Latest stable at last update: 'php:8.5.0-fpm-alpine'
        build:
            context: ./docker
            dockerfile: php.Dockerfile
        container_name: ${APP_NAME:?err}-php
        volumes:
            - './app:/var/www/html'
        depends_on:
            - mariadb

    nginx:
        # Latest stable at last update.  You can also use nginx:latest to auto-update,
        # or nginx:latest-alpine to auto-update with a smaller image size (but no bash).
        image: nginx:1.29.4-alpine
        container_name: ${APP_NAME:?err}-nginx
        ports:
            - '80:80'
            - '443:443'
        links:
            - 'php'
        volumes:
            - './app:/var/www/html'
            - './config/nginx:/etc/nginx/conf.d'

    mariadb:
        # Latest LTS at last update.  You can also use mariadb:lts to auto-update.
        image: mariadb:11.8.5
        container_name: ${APP_NAME:?err}-mariadb
        restart: 'on-failure'
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:?err}
        volumes:
            - './mysql:/var/lib/mysql'
